<!DOCTYPE html>
<html>
<head>
    <title>Account Settings</title>
</head>
<body>

    <a href="{% url 'user_profile_page' username=user.username %}">Profile page</a><br>

    <h1>Delete a Live Event</h1>
        <p>
            {% if events_with_status %}    
            {% for item in events_with_status %}
            <li>{{ item.name }} at {{ item.event.venue }} in {{ item.event.year }}. Status: {{ item.status }}</li>                 
            <form method="post" action="{% url 'delete_event' item.event.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>  
            {% endfor %}
            {% else %}
            <p>No events found.</p>
            {% endif %}
        </p>
    <h1>Add a Live Event</h1>
            <form method="post">
            {% csrf_token %}
            {{ live_event_form.as_p }}
            {{ event_status_form.as_p }}
            <button type="submit">Submit</button>
        </form>

</body>

