{% extends 'base.html' %}


{% block page_title %}Account Settings{% endblock %}

{% block content %}
    <a href="{% url 'user_profile_page' username=user.username %}">Profile page</a><br>

    {{user_event_statuses}}

    <h1>Delete a Live Event</h1>
        <p>
            {% if user_event_statuses %}    
            {% for item in user_event_statuses %}
            <li>{{ item.live_event.name }} at {{ item.live_event.venue }} in {{ item.live_event.year }}. Status: {{ item.status }}</li>                 
            <form method="post" action="{% url 'delete_event' item.live_event.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>   
            {% endfor %}
            {% else %}
            <p>No events found.</p>
            {% endif %}
        </p>
    <h1>Add a Live Event</h1>
        <form method="post">
            {% csrf_token %}
            {{ select_live_event_form.as_p }}
            {{ event_status_form.as_p }}
            <button type="submit">Submit</button>
        </form>

</body>
{% endblock %}

