{% extends 'base.html' %}

{% block page_title %}
Profile | Festival Feeds
{% endblock %}

{% block content %}
<body>
    <header>
        <h1>{{user_profile.first_name}} {{user_profile.second_name}}</h1>
        <nav>
            <ul>
                <a href="{% url 'home' %}">home</a>
                {% if user.username == user_profile.user.username%}
                <a href="{% url 'edit_profile_page' %}">edit profile</a>
                {% else %}
                <a href="{% url 'follow_user' username=user_profile.user.username %}">Follow</a>
                <a href="{% url 'unfollow_user' username=user_profile.user.username %}">Unfollow</a>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section>
        <h3>Concerts & Festivals Attended</h3>
        <ul>
            {% if live_events %}    
            {% for event in live_events %}
            <li>{{ event.name }} at {{ event.venue }} in {{ event.year }}</li>                
            {% endfor %}
            {% else %}
            <p>No events found.</p>
            {% endif %}
        </ul>
    </section>

    <section>
        <h3>Following</h3>
        {% for followed_user in followed_users %}
        {{followed_user.first_name }} {{followed_user.second_name }} 
        {% endfor %}


        <h3>Followers</h3>

    </section>
</body>
{% endblock %}