

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <header>
        <h1>{{user_profile.first_name}} {{user_profile.second_name}}</h1>
        <nav>
            <ul>
                <a href="{% url 'home' %}">home</a>
                {% if user.username == user_profile.user.username%}
                <a href="{% url 'edit_profile_page' %}">edit profile</a>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section>
        <h3>Concerts & Festivals Attended</h3>
        <ul>
            {% if live_events %}    
            {% for event in live_events %}
            <li>{{ event.name }} at {{ event.venue }} in {{ event.year }}</li>                
            {% endfor %}
            {% else %}
            <p>No events found.</p>
            {% endif %}
        </ul>
    </section>
</body>
</html>
